.grafico{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.links2{
    background-color: aliceblue;
    margin: 1rem 1rem 2rem 21rem ;
    padding: 1rem;
    border-radius: 1rem;
    display: fley;
    justify-content: space-evenly;

}

.links2 a{
    text-align: none;
    color: rgb(238, 146, 210);
    font-weight: 600;
    font-size: 1.2rem;
    font-family: sans-serif;



}

.links2 a{ 
    text-decoration: none;
    color: rgb(228, 173, 228);
    font-weight: 700;
    font-size: 1.5rem;
    font-family: sans-serif;

}
.vl{
    border: 2px solid black
}